# Functions

In [1]:
def scream():
    print('Hello World')
scream()

Hello World

In [2]:
def square(num):
    out = num**2
    return(out)

In [3]:
sq_3 = square(3)
print(sq_3)

9

In [4]:
def square(num):
    out = num**2
    print(out)

In [ ]:
sq_2 = sq

In [6]:
def squared(x,y):
    sq = x**y
    return(sq)

In [8]:
print(squared(2,3))

8

In [10]:
def factorial(n):
    if n > 1:
        return n * factorial(n-1)
    else:
        return n

fact = factorial(5)
print(fact)

120

In [11]:
def addition(*args):
    print(args)
    return(sum(args))

In [12]:
addition(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [13]:
join_by_comma = lambda x : ','.join(x)

# lambda functions
#creating functions on the fly / temp function

In [15]:
captain = 'Mahendra Singh Doni'

In [16]:
string_to_list = lambda x: x.split()
print(string_to_list(captain))

['Mahendra', 'Singh', 'Doni']

In [17]:
product = lambda x, y : x *y
print(product(3,4))

12

In [18]:
input_list = ['9','3']

a = int(input_list[0])
b = int(input_list[1])

greater = lambda a, b: a if a > b else b


print(greater(a,b))

9

In [19]:
def say(message, times = 1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

In [27]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

# Map, Filter, and Reduce

In [ ]:
#Map is a function that works like list comprehensions and for 
#loops. It is used when you need to map or implement functions 
#on various elements at the same time.

In [29]:
first_list = [2,4,5]

In [31]:
print(list(map(lambda x: x**2, first_list)))

[4, 16, 25]

In [32]:
first_list = [2,4,5]
print(list(map(lambda x: x**2, first_list)))

[4, 16, 25]

In [33]:
def squareit(n):
    return n**2
print(list(map(squareit,first_list)))

[4, 16, 25]

In [34]:
input_list = [5,6,4,8,9]


cube = list(map(lambda x: x**3, input_list))

print(cube)

[125, 216, 64, 512, 729]

In [54]:

input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
count = list(map(lambda x: x if x[0] == 'S' else '' , input_list))
count.remove('')
print(len(count))

3

'Filter' is a similar operation, but it requires the function to look for a condition and then, only returns those elements from the collection that satisfy the condition. 'Reduce' is an operation that breaks down the entire process into pair-wise operations and uses the result from each operation, with the successive element.

In [ ]:
#filter

In [56]:
sums_list = [3,5,9,7]
sums_list2 = [4,5,6,7]

print(list(map(lambda x,y : x+y, sums_list, sums_list2)))

[7, 10, 15, 14]

In [59]:
list_of_names = ['nikola','james','albert']
list_of_names2 = ['tesla','watt','einstein']

proper = lambda x, y: x[0].upper()+x[1:] +' '+ y[0].upper()+y[1:]
print(list(map(proper, list_of_names, list_of_names2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [65]:
input_list = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
first_name = input_list[0]
last_name = input_list[1]

name = lambda x, y: x[0].upper()+x[1:]+' '+y[0].upper()+y[1:]

name = (list(map(name,first_name, last_name)))

print(name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [69]:
#filter

divby3 = lambda x: x % 3 == 0
my_list = [3,4,5,6,7,8,9]
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [66]:
#Reduce

from functools import reduce
q = reduce(lambda x, y: x+y, range(1,4))
print(q)

6

In [68]:
list_of_nums = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if x>y else y,list_of_nums))

94

In [71]:
#Extract a list of numbers that are multiples of 5 from a list of integers named input_list.

input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

divby5 = lambda x: x % 5 == 0
list_answer = list(filter(divby5, input_list))

print(list_answer)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [73]:
#You are given a list of strings such as input_list =  ['hdjk', 'salsap', 'sherpa'].

#Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

input_list =['soap','sharp','shy','silent','ship','summer','sheep']

filter_cnd = lambda x: x[0] == 's' and x[-1] == 'p'
sp = list(filter(filter_cnd, input_list))

print(sp)

['soap', 'sharp', 'ship', 'sheep']

Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.

In [78]:
input_list = ['I','Love','Python']

from functools import reduce

q = reduce(lambda x, y: x+' '+y, input_list)
print(q)

I Love Python

You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.

In [81]:
input_list = [31, 63, 76, 89]
from functools import reduce

answer = reduce(lambda x, y: x if x > y else y, input_list)

print(answer)

89