# basic python

In [2]:
print("This is my python program")

This is my python program

In [3]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [4]:
a = 5
b = 2

#addition
print(a+b)

#subtraction
print(a-b)

#multiplication
print(a*b)

#Division
print(a/b)

print(a//b)

#remainder
print(a % b)

#exponential

print(a**b)

7
3
10
2.5
2
1
25

In [6]:
#incremental operator
inc = 9
inc += 1

print(inc)

inc -= 1
print(inc)

10
9

In [8]:
#logical
print (3<4)

print (True and False)
print (True or False)
print(a != b)
print(True and not False)

True
False
True
True
True

In [9]:
#rstrip() - remove whitespaces from the right

some_sentence = "there is a space in the end   "
print(some_sentence)
print(some_sentence.rstrip())

there is a space in the end
there is a space in the end

In [10]:
increment = '4%'
print(increment.rstrip('%'))

4

In [11]:
#lstrip() - remove white space from front

start = "    there is a space in front"

print(start)
print(start.lstrip())

    there is a space in front
there is a space in front

In [12]:
#strip() - remove whitespace from both the sides
spaces = "   trim whitespaces     "
print(spaces)
print(spaces.strip())

   trim whitespaces
trim whitespaces

In [13]:
#Python_1
#Description
#Remove the leading spaces from the string  input_str = '         This is my first code'

# Reading the input as a string; ignore the following two lines
import ast, sys
input_str = sys.stdin.read()

input_str = '         This is my first code'
# Write your code here
final_str = input_str.strip()
print(final_str)

This is my first code

In [ ]:
#index and slice strings
#index and slicing

In [14]:
val = "2 apples"
no_of_apples = val[0]
print("number of apple is ",no_of_apples)

number of apple is  2

In [15]:
what =  val[2:]
print(what)

apples

In [16]:
#slicing by specifying start and end index
print(val[2:5])

app

In [17]:
#print part of the string
nums = '123456789'
even_nums=nums[1::2]
print(even_nums)

2468

In [18]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [19]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [23]:
#Kumar_Ravi_003

input_str = 'Kumar_Ravi_003'
first_name = input_str.split("_")
print(first_name)

['Kumar', 'Ravi', '003']

In [28]:
val = "I love Python programming"
print(val[7:13])
print(val[-18:-12])

Python
Python

len('Python')

#Data Structures 
# Lists

In [30]:
#empty list
initial_list=[]
print(initial_list)

[]

In [31]:
DA_languages = ['R','Python', 'SAS','Scala',42]
print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42]

In [32]:
print(DA_languages[0])

R

In [33]:
print(DA_languages[1:3])

['Python', 'SAS']

In [34]:
print(DA_languages[0:2])

['R', 'Python']

In [35]:
print(DA_languages[-1])

42

In [36]:
print(DA_languages[2:])

['SAS', 'Scala', 42]

In [39]:
print(DA_languages[ : -3])

['R', 'Python']

In [40]:
#pullout last element of the list
DA_languages.pop()

42

In [41]:
DA_languages

['R', 'Python', 'SAS', 'Scala']

In [43]:
DA_languages.pop(0)
print(DA_languages)

['SAS', 'Scala']

In [44]:
DA_languages.append('R')
DA_languages.remove('R')
print(DA_languages)

['SAS', 'Scala']

In [45]:
new_list = DA_languages
DA_languages.append('Java')
print(new_list)

['SAS', 'Scala', 'Java']

In [46]:
#Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

input_list=['SAS', 'R', 'PYTHON', 'SPSS']

input_list.pop()

input_list.append('SPARK')

print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

# Sting To List

In [47]:
a_sentence = "hi saif, this is to inform you that i am not well today"
print(a_sentence)

hi saif, this is to inform you that i am not well today

In [48]:
words_in_sentence = a_sentence.split()
print(words_in_sentence)

['hi', 'saif,', 'this', 'is', 'to', 'inform', 'you', 'that', 'i', 'am', 'not', 'well', 'today']

In [51]:
a_mail = "hi saif, this is to inform you that i am not well today. i am not able to come"

In [52]:
#spliting sentence and printing as a list
sentences_in_mail = a_mail.split('.')
print(sentences_in_mail)

['hi saif, this is to inform you that i am not well today', ' i am not able to come']

In [53]:
#joining the list of sentences
mail = " ".join(sentences_in_mail)
print(mail)

hi saif, this is to inform you that i am not well today  i am not able to come

In [54]:
mail_new = " & ".join(sentences_in_mail)
print(mail_new)

hi saif, this is to inform you that i am not well today &  i am not able to come

In [55]:
my_list = ["Hi"]
print(my_list*5)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [56]:
print(my_list + my_list)

['Hi', 'Hi']

In [57]:
# Description
#Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:
#['I love Data Science ', ' Python']

input_str = 'I love Data Science & Python'

output_list = input_str.split("&")

print(output_list)

['I love Data Science ', ' Python']

In [58]:
nums = [2,4,6,9,3,2]
print(len(nums))

6

In [59]:
print(max(nums))

9

In [60]:
print(min(nums))

2

In [61]:
nest = [[1,2,3,4],[5,6,7,8]]
print(nest[1])

[5, 6, 7, 8]

In [62]:
print(nest[0][1])

2

In [65]:
print(nest[0:2])

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [68]:
lst =  ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
rst = " & ".join(lst)
print(rst)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [73]:
#Nested List
#Description
#Extract Python from a nested list input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

print(input_list[2][0])

Python

In [76]:
names = ['a','b','c','d','e']

print(names[0:3])
print(names[:3])
print(names[1:3])

['a', 'b', 'c']
['a', 'b', 'c']
['b', 'c']

In [79]:
word = ['1','2','3','4']

word[ : ] = []
print(word)

[]

In [80]:
list_1 = [2, 33, 222, 14, 25]
print(list_1[-3])

222

# Tuples

In [81]:
first_tuple = ('monty python', 30, "baker street", 5.8)
print(first_tuple)

('monty python', 30, 'baker street', 5.8)

In [82]:
city_tuple = ("mumbai", 18.9949521, 72,8141853)
print(city_tuple)

('mumbai', 18.9949521, 72, 8141853)

In [83]:
new_tuple = city_tuple
print(new_tuple)

('mumbai', 18.9949521, 72, 8141853)

In [84]:
new_tuple[1] = 13.8877

TypeError: 'tuple' object does not support item assignment

In [85]:
#edit tuple using list
b = city_tuple[:-1]
print(b)
print(len(b))

('mumbai', 18.9949521, 72)
3

In [87]:
c = list(b)
print("c is: {0}".format(c))
c = tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['mumbai', 18.9949521, 72]
c is now a tuple: ('mumbai', 18.9949521, 72)

In [96]:
input_tuple = ('Monty Python', 'British', 1969)
list_val = list(input_tuple)
print(list_val)
list_val.append("Python")
print(list_val)
tuple_2 = tuple(list_val)
print(tuple_2)

['Monty Python', 'British', 1969]
['Monty Python', 'British', 1969, 'Python']
('Monty Python', 'British', 1969, 'Python')

In [97]:
a = ([1,2],[3,4])
print(a)

([1, 2], [3, 4])

In [100]:
t = (1, 2, 4, 3)
print(t[3])
#t[3] = 5

3

# Dictionaries

In [101]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [104]:
bio_data={'name':'bob','Age': 35, 'Height': 5,'hobby': 'music'}
print(bio_data)

{'name': 'bob', 'Age': 35, 'Height': 5, 'hobby': 'music'}

In [105]:
credentials = {'UserA': 'wkliopnc', 'UserB' : 7896, 'UserC': 8702}

In [111]:
hobby = bio_data['hobby']
print(hobby)

age = bio_data['Age']
print(age)

age = bio_data.get('Age')
print(age)

profession = bio_data.get('profession','NA')
print(profession)

music
35
35
NA

In [117]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
#input_dict('Label') #error if not exists
input_dict.get('Label','NA')

'NA'

In [118]:
bio_data['Age'] = 36
print(bio_data)

{'name': 'bob', 'Age': 36, 'Height': 5, 'hobby': 'music'}

In [120]:
#add a key, value
bio_data['profession'] = 'singer'
print(bio_data)

{'name': 'bob', 'Age': 36, 'Height': 5, 'hobby': 'music', 'profession': 'singer'}

In [123]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['name', 'Age', 'Height', 'hobby', 'profession']
['bob', 36, 5, 'music', 'singer']

In [124]:
new_dictionary=dict(country='jamaica',songs=['one love','misty moring'])
print(new_dictionary)

{'country': 'jamaica', 'songs': ['one love', 'misty moring']}

In [125]:
students_data = {1:['shivam', 24], 2: ['udit bansal',25], 3:['sonam',35]}
print(students_data)

{1: ['shivam', 24], 2: ['udit bansal', 25], 3: ['sonam', 35]}

In [126]:
print(len(students_data))

3

# Sets

In [136]:
students_list = ['A','A','B','B','C','C','E','N']
students_set = set(students_list)
print(students_set) #duplicate will be removed in se

{'E', 'B', 'N', 'C', 'A'}

In [140]:
students_list_2=['A','N','A','N','P','N','G','A']

In [141]:
students_set_2=set(students_list_2)
print(students_set_2)

{'N', 'P', 'G', 'A'}

In [144]:
print(students_set.intersection(students_set_2))

{'A', 'N'}

In [145]:
print(students_set.union(students_set_2))

{'E', 'B', 'N', 'C', 'P', 'A', 'G'}

In [146]:
print(students_set.difference(students_set_2))

{'C', 'E', 'B'}